.cart-container {
  padding: 24px;
}

.cart-item {
  margin-top:10px;
  margin-bottom: 16px;
}

.cart-loading {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.cart-product-image {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.cart-product-details {
  padding-left: 16px;
}

.cart-product-title {
  cursor: pointer;
}

.cart-product-meta {
  margin-top: 4px;
}

.cart-product-quantity {
  margin-top: 8px;
}

.cart-product-clickable {
  cursor: pointer;
}

.cart-remove-btn {
  text-align: right;
}

.checkout-btn {
  margin-top: 16px;
  background: #3e3e3e;
  border: none;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 8px;
}

.quantity-value {
  min-width: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.cart-product-quantity .quantity-inline {
  display: flex;
  align-items: center;
  gap: 8px;
}

.quantity-value {
  padding: 0 8px;
  font-weight: bold;
}

.cart-product-total {
  margin-top: 7px;
  padding: 0px 0px 12px;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  background-color: #f5f5f5;
  border-radius: 4px;
  display: inline-block;
}